<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.Huaqi.data.OptionMapper">

    <insert id="addCallOption" parameterType="com.example.Huaqi.po.CallOptionPO" useGeneratedKeys="true" >

    </insert>


    <resultMap id="CallOptionPO" type="com.example.Huaqi.po.CallOptionPO">

    </resultMap>
</mapper>