<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.Huaqi.data.StrategyMapper">

    <insert id="addStrategy" parameterType="com.example.Huaqi.po.StrategyPO">
        insert into strategy(deal_type, "time", status, volume, price_per, transfer_fee, price, trade_id, item)
    </insert>
</mapper>